@charset "UTF-8";
.page {
  margin: 0;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Основные стили */
.slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  /* width: 600px; */
  overflow-x: scroll;
  background-color: red;
}

.slider__tape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Отменяет марджин у последнего элемента ленты снизу, чтобы небыло зазора */
  padding: 10px;
  margin-right: -10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  /* background-color: yellow; */
}

.slider__item {
  margin-right: 10px;
}

.slide {
  background-color: blue;
  padding: 10px;
}

.slide:last-child {
  margin-right: 0;
}
