.header {
  width: 100%;
  height: 50px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__title-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-right: 20px;
}

.header__title-part {
  color: blue;
}

.header__bell-button {
  width: 35px;
  height: 35px;
  background-color: rgba(128, 128, 128, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bell-button {
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.bell-button--active .bell-button__number-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bell-button__inner-icon {
  margin: auto;
  color: white;
  font-size: 5px;
}

.bell-button__icon {
  font-size: 18px !important;
}

.bell-button__header-popup {
  display: none;
  position: absolute;
  background-color: #FAFAFA;
  top: 50px;
  left: 0;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 225px;
}

.bell-button__header-popup--active {
  display: block;
}

.bell-button__popup-text {
  padding: 10px;
  margin: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.bell-button__popup-text span {
  font-weight: 600;
}

.bell-button__number-holder {
  min-width: 15px;
  height: 15px;
  background-color: #5c5cd6;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: -2px;
  right: -2px;
}

.bell-button__number {
  margin: auto;
  color: white;
  font-size: 9px;
}

.burger-button {
  padding: 0 5px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(128, 128, 128, 0.45);
  cursor: pointer;
  border-radius: 5px;
}

.burger-button__icon {
  font-size: 30px;
  color: white;
  margin: auto;
}

@media (max-width: 480px) {
  .bell-button__header-popup {
    left: -100px;
  }
  .bell-button__header-popup--active {
    display: block;
  }
}

/* .ui-icon {
    font-size: 15px;
} */
.page {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav__header {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__list-link {
  margin: 20px 0;
  padding: 0;
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main-nav__list-link--visible {
  height: 350px;
}

.main-nav-header {
  border-bottom: 1px solid gray;
}

.main-nav-header__user-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  margin-right: 10px;
}

.main-nav-header__icon {
  font-size: 45px;
}

.main-nav-header__user-name {
  margin: 0 0 10px 0;
  font-weight: 300;
}

.main-nav-header__holder-version {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav-header__identification-dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow;
  margin: auto;
}

.main-nav-header__version {
  line-height: 0.9;
  margin-left: 10px;
}

.list-link-item__container-link {
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
}

.list-link-item__container-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.list-link-item__inner-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-link-item__icon {
  margin: auto;
  font-size: 15px;
}

.list-link-item__link-anchor {
  margin: 0 0 0 10px;
}

.title-center {
  text-align: center;
}

.earnings-info {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.earnings-info__indicator--up {
  font-size: 25px !important;
  color: green;
}

.earnings-info__indicator--down {
  font-size: 20px !important;
  color: red;
}

.earnings-info__indicator--square {
  font-size: 10px !important;
  margin-left: 5px;
  color: gray;
}

.container-earnings-amount {
  padding: 5px 10px;
  background-color: #ffe4e4;
}

.earnings-amount {
  font-size: 18px;
}

.content__container {
  max-width: 500px;
}

.content__textarea {
  resize: none;
  border: 2px solid black;
  display: block;
  height: 250px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.content__submit-button {
  margin-top: 10px;
  border: none;
  background-color: #86ff27;
  width: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.content__submit-button:hover {
  background-color: #9ffd56;
}

.content__submit-button:focus {
  background-color: #468714;
}

.content__inner-input {
  width: 100%;
  margin-top: 15px;
}

.content__input-label {
  color: 14px;
}

.content__input-warn {
  color: red;
  display: none;
}

.content__input {
  border: 1px solid black;
  outline: none;
  display: block;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content__input-warn--active {
  display: block;
}

.text-warning {
  display: none;
}

.text-warning--active {
  display: inline-block;
}

.disable-text {
  color: gray;
}

@media (max-width: 768px) {
  .content__title {
    text-align: center;
  }
  .content__subtitle {
    text-align: center;
  }
}
