.sidebar {
    height: 100%;
    width: 250px;
    background-color: #383a3d;
    /* overflow-x: hidden; */
    transition: width 0.3s ease;

    &__header-popup {
        display: none;
        position: absolute;
        background-color: white;
        bottom: -60px;
        right: -200px;
        padding: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        &--active {
            display: block;
        }
    }

    &__popup-text {
        margin: 0;
        font-size: 14px;
        & span {
            font-weight: 600;
        }
    }

    &__header {
        height: 60px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: space-between;
        position: relative;
    }
    &__header-title {
    }

    &__header-button {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex: 0;
        z-index: 10;
        position: relative;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        & span {
            color: white;
            font-size: 23px;
            margin: auto;
        }
        &--active-dot {
            &::before {
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: blue;
                right: 5px;
                top: 5px;
            }
        }
    }

    &__header-text {
        color: #3997d6;
        margin-right: 10px;
    }

    &__header-text-part {
        color: white;
    }

    &__list-link {
    }
}

.sidebar-links {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 0 20px;
        height: 50px;
        box-sizing: border-box;
        transition: background-color 0.3s ease;
        &:hover {
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            /* background-color: white; */
        }
        
        /* &:hover {
            background-color: #b9b9b9;
        }
        &:focus {
            background-color: #5e5e5e;
        } */
    }

    &__text-link {
        font-size: 18px;
    }
}

.icon-link {
    margin-right: 10px;
}

.sidebar {
    width: 65px;
    &:hover {
        width: 250px;
        .sidebar-links {
            &__item {
            }

            &__link {
            }

            &__text-link {
                color: white;
            }
        }
    }
    &__header {
    }
    &__header-title {
        visibility: hidden;
    }

    &__header-button {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex: 0;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        & span {
            color: white;
            font-size: 23px;
            margin: auto;
        }
    }

    &__header-text {
        color: #3997d6;
        margin-right: 10px;
    }

    &__header-text-part {
        color: white;
    }

    &__list-link {
    }
}

.sidebar-links {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 0 20px;
        height: 50px;
        box-sizing: border-box;
        &:hover {
            border-bottom: 1px solid white;
            border-top: 1px solid white;
        }
    }

    &__text-link {
        font-size: 18px;
        transition: 0.3s ease;
        color: transparent;
    }
}