.page {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    --sidebar-closed: 65px;
    --sidebar-opened: 250px;
}
/* * {
    box-sizing: border-box;
} */
.app {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    display: flex;
}
.sidebar {
    height: 100%;
    width: 250px;
    background-color: #383a3d;
    /* overflow-x: hidden; */
    transition: width 0.3s ease;

    &__header-popup {
        display: none;
        position: absolute;
        background-color: white;
        bottom: -60px;
        right: -200px;
        padding: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        &--active {
            display: block;
        }
    }

    &__popup-text {
        margin: 0;
        font-size: 14px;
        & span {
            font-weight: 600;
        }
    }

    &__header {
        height: 60px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: space-between;
        position: relative;
    }
    &__header-title {
    }

    &__header-button {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex: 0;
        position: relative;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        & span {
            color: white;
            font-size: 23px;
            margin: auto;
        }
        &--active-dot {
            &::before {
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: blue;
                right: 5px;
                top: 5px;
            }
        }
    }

    &__header-text {
        color: #3997d6;
        margin-right: 10px;
    }

    &__header-text-part {
        color: white;
    }

    &__list-link {
    }
}

.sidebar-links {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 0 20px;
        height: 50px;
        box-sizing: border-box;
        &:hover {
            border-bottom: 1px solid white;
            border-top: 1px solid white;
        }
    }

    &__text-link {
        font-size: 18px;
    }
}

.icon-link {
    margin-right: 10px;
}

.main {
    height: 100%;
    width: calc(100% - var(--sidebar-opened));
    display: flex;
    flex-direction: column;
}
.header {
    height: 60px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.content {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    background-color: #ffe8e8;
    flex: 1;
    overflow-y: hidden;
    &__container {
    }
}
.container-informations {
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    &__title {
        margin: 0 0 15px 0;
    }
    &__container-table {
        overflow-x: auto;
        width: 100%;
    }

    &__text {
    }

    &__text-subtitle {
        font-size: 18px;
        font-weight: bold;
    }
}
.table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    box-sizing: border-box;
    & th {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid black;
    }
    & tr,
    td {
        text-align: left;
    }
    & td {
        padding: 10px;
    }
    &__del-button {
        padding: 5px;
        background-color: #ff000087;
        display: flex;
        border-radius: 5px;
        cursor: pointer;
        width: min-content;
        & > .material-icons {
            color: white;
            margin: auto;
        }
        &:hover {
            background-color: red;
        }
    }
    &__state-field {
        border: 1px solid blue;
        padding: 5px;
        color: blue;
        border-radius: 5px;
        text-align: center;
    }
    &__long-field {
        /* width: 30%; */
    }
}

@media screen and (max-width: 768px) {
    .table {
        min-width: 680px;
    }
    .main {
        width: calc(100% - var(--sidebar-closed));
    }
    .content {
        padding: 10px 10px 0 10px;
    }
    .sidebar {
        width: 65px;
        &:hover {
            width: 250px;
            .sidebar-links {
                &__item {
                }

                &__link {
                }

                &__text-link {
                    color: white;
                }
            }
        }
        &__header {
        }
        &__header-title {
            visibility: hidden;
        }

        &__header-button {
            padding: 10px;
            border-radius: 5px;
            display: flex;
            flex: 0;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
            & span {
                color: white;
                font-size: 23px;
                margin: auto;
            }
        }

        &__header-text {
            color: #3997d6;
            margin-right: 10px;
        }

        &__header-text-part {
            color: white;
        }

        &__list-link {
        }
    }

    .sidebar-links {
        margin: 0;
        padding: 0;
        list-style: none;

        &__item {
        }

        &__link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            padding: 0 20px;
            height: 50px;
            box-sizing: border-box;
            &:hover {
                border-bottom: 1px solid white;
                border-top: 1px solid white;
            }
        }

        &__text-link {
            font-size: 18px;
            transition: 0.3s ease;
            color: transparent;
        }
    }
}
