@import 'editForm';
@import 'sidebar';

.page {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    --sidebar-closed: 65px;
    --sidebar-opened: 250px;
}
/* * {
    box-sizing: border-box;
} */
.app {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    display: flex;
}


.main {
    height: 100%;
    min-width: calc(100% - var(--sidebar-closed));
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
}
.header {
    height: 60px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    
}
.content {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    background-color: #ffe8e8;
    flex: 1;
    overflow-y: hidden;
    &__container {
    }
}
.container-informations {
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    &__title {
        margin: 0 0 15px 0;
    }
    &__container-table {
        overflow-x: auto;
        width: 100%;
    }

    &__text {
    }

    &__text-subtitle {
        font-size: 18px;
        font-weight: bold;
    }
}
.table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    box-sizing: border-box;
    & th {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid black;
    }
    & tr,
    td {
        text-align: left;
    }
    & td {
        padding: 10px;
    }
    &__del-button {
        padding: 5px;
        background-color: #ff000087;
        display: flex;
        border-radius: 5px;
        cursor: pointer;
        width: min-content;
        & > .material-icons {
            color: white;
            margin: auto;
        }
        &:hover {
            background-color: red;
        }
    }
    &__state-field {
        border: 1px solid blue;
        padding: 5px;
        color: blue;
        border-radius: 5px;
        text-align: center;
    }
    &__long-field {
        /* width: 30%; */
    }
}





.edit-commands {
    &__inner-container {
        display: flex;
    }

    &__container {
        flex: 1 1 33.333%;
    }
    &__select {
        display: block;
    }
    &__input {
        display: block;
    }

    &__textarea {
    }

    &__button-submit {
    }
}












@media screen and (max-width: 768px) {
    .table {
        min-width: 680px;
    }
    .main {
        width: calc(100% - var(--sidebar-closed));
    }
    .content {
        padding: 10px 10px 0 10px;
    }
    
}
