.edit-commands__inner-container {
  max-width: 600px;
  margin-bottom: -10px;
}

.edit-commands__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
}

.edit-commands__select {
  margin-bottom: 10px;
  width: 100%;
}

.edit-commands__input {
  width: 100%;
}

.edit-commands__textarea {
  resize: none;
  width: 100%;
  height: 200px;
}

.edit-commands__button-submit {
  background-color: #969696;
  padding: 10px;
  border: none;
  color: white;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
}

.input-forms {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  background-color: transparent;
  display: block;
}

/* @media (max-width: 768px) {
    .edit-commands {
        &__inner-container {
            flex-wrap: wrap;
        }
        &__container:last-child {
            height: 100px;
        }
    }
}

@media (max-width: 480px) {
    .edit-commands {
        &__inner-container {
            flex-wrap: wrap;
        }
        &__container {
            margin-top: 10px;
            min-width: 100%;
        }
    }
} */
.sidebar {
  height: 100%;
  width: 250px;
  background-color: #383a3d;
  /* overflow-x: hidden; */
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.sidebar__header-popup {
  display: none;
  position: absolute;
  background-color: white;
  bottom: -60px;
  right: -200px;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.sidebar__header-popup--active {
  display: block;
}

.sidebar__popup-text {
  margin: 0;
  font-size: 14px;
}

.sidebar__popup-text span {
  font-weight: 600;
}

.sidebar__header {
  height: 60px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.sidebar__header-button {
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  z-index: 10;
  position: relative;
}

.sidebar__header-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar__header-button span {
  color: white;
  font-size: 23px;
  margin: auto;
}

.sidebar__header-button--active-dot::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: blue;
  right: 5px;
  top: 5px;
}

.sidebar__header-text {
  color: #3997d6;
  margin-right: 10px;
}

.sidebar__header-text-part {
  color: white;
}

.sidebar-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar-links__link:hover {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.sidebar-links__text-link {
  font-size: 18px;
}

.icon-link {
  margin-right: 10px;
}

.sidebar {
  width: 65px;
}

.sidebar:hover {
  width: 250px;
}

.sidebar:hover .sidebar-links__text-link {
  color: white;
}

.sidebar__header-title {
  visibility: hidden;
}

.sidebar__header-button {
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.sidebar__header-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar__header-button span {
  color: white;
  font-size: 23px;
  margin: auto;
}

.sidebar__header-text {
  color: #3997d6;
  margin-right: 10px;
}

.sidebar__header-text-part {
  color: white;
}

.sidebar-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar-links__link:hover {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.sidebar-links__text-link {
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: transparent;
}

.page {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  --sidebar-closed: 65px;
  --sidebar-opened: 250px;
}

/* * {
    box-sizing: border-box;
} */
.app {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-float-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  z-index: 1000;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-float-button > span {
  font-size: 30px;
  margin: auto;
}

.main {
  height: 100%;
  min-width: calc(100% - var(--sidebar-closed));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 100;
}

.header {
  height: 60px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.content {
  padding: 20px 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffe8e8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: hidden;
}

.container-informations {
  overflow-y: scroll;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-informations__title {
  margin: 0 0 15px 0;
}

.container-informations__container-table {
  overflow-x: auto;
  width: 100%;
}

.container-informations__inner-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container-informations__text-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.container-informations__box-icon {
  position: relative;
}

.table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.table__indicator {
  color: #61ff00;
}

.table th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid black;
}

.table tr,
.table td {
  text-align: left;
}

.table td {
  padding: 10px;
}

.table__del-button {
  padding: 5px;
  background-color: #ff000087;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.table__del-button > .material-icons {
  color: white;
  margin: auto;
}

.table__del-button:hover {
  background-color: red;
}

.table__state-field {
  border: 1px solid blue;
  padding: 5px;
  color: blue;
  border-radius: 5px;
  text-align: center;
}

.help-icon {
  color: rgba(150, 150, 150, 0.5);
  font-size: 18px;
  margin-left: 5px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
  padding: 5px;
}

.help-icon:hover {
  color: rgba(150, 150, 150, 0.9);
}

.help-icon:hover + .popup-explanation {
  display: block;
}

.popup-explanation {
  display: none;
  position: absolute;
  top: 40px;
  left: 20px;
  padding: 10px;
  background-color: white;
  width: 200px;
  /* display: none; */
}

.popup-explanation__text {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .table {
    min-width: 680px;
  }
  .main {
    width: calc(100% - var(--sidebar-closed));
  }
  .content {
    padding: 10px 10px 0 10px;
  }
}
