.content {
    padding: 0 20px;
}
.title-md {
}
.container-commands {
}
.command {
    display: flex;
    margin-bottom: 10px;
}
.inner-command {
    padding: 5px 10px;
    background-color: rgba(231, 231, 231, 0.53);
    align-self: flex-start;
    margin-right: 10px;
}
.text-command {
    font-weight: 700;
}
.desc-command {
}
.container-chart {
}
.container-grapf {
}
.chart-canvas {
}
