@import "header";
/* .ui-icon {
    font-size: 15px;
} */
.page {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
    &__layout {
    }

    &__header {
        padding: 10px 20px;
        display: flex;
    }

    &__list-link {
        margin: 20px 0;
        padding: 0;
        overflow: hidden;
        height: 0;
        transition: 0.3s ease;
        &--visible {
            height: 350px;
        }
    }

    &__list-item {
    }
}
.main-nav-header {
    border-bottom: 1px solid gray;
    &__user-icon {
        flex: 0 0 40px;
        height: 40px;
        margin-right: 10px;
    }
    &__icon {
        font-size: 45px;
    }
    &__inner-user-inf {
    }

    &__user-name {
        margin: 0 0 10px 0;
        font-weight: 300;
    }

    &__holder-version {
        font-size: 13px;
        display: flex;
    }

    &__identification-dot {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: yellow;
        margin: auto;
    }

    &__version {
        line-height: 0.9;
        margin-left: 10px;
    }
}
.list-link-item {
    &__container-link {
        color: black;
        text-decoration: none;
        display: flex;
        padding: 0 20px;
        height: 40px;
        box-sizing: border-box;
        transition: border .3s ease;
        align-items: center;
        border: 1px solid transparent;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);;
        }
    }

    &__inner-icon {
        display: flex;
    }
    &__icon {
        margin: auto;
        font-size: 15px;
    }
    &__link-anchor {
        margin: 0 0 0 10px;
    }
}
.title-center {
    text-align: center;
}

.earnings-info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &__indicator--up {
        font-size: 25px !important;
        color: green;
    }
    &__indicator--down {
        font-size: 20px !important;
        color: red;
    }
    &__indicator--square {
        font-size: 10px !important;
        margin-left: 5px;
        color: gray;
    }
}
.container-earnings-amount {
    padding: 5px 10px;
    background-color: #ffe4e4;
}
.earnings-amount {
    font-size: 18px;
}

.content {
    &__container {
        max-width: 500px;
    }

    &__title {
    }

    &__subtitle {
    }

    &__form {
    }

    &__textarea {
        resize: none;
        border: 2px solid black;
        display: block;
        height: 250px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
    }

    &__submit-button {
        margin-top: 10px;
        border: none;
        background-color: #86ff27;
        width: 100%;
        padding: 10px;
        color: white;
    }
    &__inner-input {
        width: 100%;
        margin-top: 15px;
    }

    &__input-label {
        color: 14px;
    }

    &__input-warn {
        color: red;
        display: none;
    }
    &__input {
        border: 1px solid black;
        outline: none;
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    &__input-warn--active {
        display: block;
    }
}
.text-warning {
    display: none;
    &--active {
        display: inline-block;
    }
}
.disable-text {
    color: gray;
}

@media (max-width: 768px) {
    .content {
        &__title {
            text-align: center;
        }

        &__subtitle {
            text-align: center;
        }
    }
}
